name: Run Python Script with BigQuery

on:
  schedule:
    - cron: '0 21 * * *'
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest
    env:
      RUN_GENAI: "false"
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Authenticate with Google Cloud
        env:
          GCP_CREDS: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
        run: |
          echo "$GCP_CREDS" > $HOME/gcloud-key.json
          gcloud auth activate-service-account --key-file=$HOME/gcloud-key.json
          gcloud config set project new-project-456705
          echo "GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-key.json" >> $GITHUB_ENV

      - name: Run Python Script
        run: python customer_segmentation_gh.py
